[includeIf "gitdir:~/Works/Code/Personal/"]
    path = ~/.gitconfig-default
[includeIf "gitdir:~/Works/Code/Professional/"]
    path = ~/.gitconfig-professional
[core]
    # Use custom `.gitignore` and `.gitattributes`
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
    whitespace = space-before-tab,tab-in-indent,trailing-space,tabwidth=4
    untrackedCache = true
[commit]
  	gpgsign = true
[color]
	ui = true
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[credential]
	helper = manager-core
