configuration {
    display-drun: 					"";
}

@import "colors.rasi"
@import "styles.rasi"
window {
	width:							400px;
}

textbox-prompt-colon {
	str: "";
}

inputbar {
	children: 						[ textbox-prompt-colon, prompt ];
}

listview {
    lines:                          8;
}

element {
	padding: 						3px 3px 3px -12px;
}

element-icon {
    display:                        none;
    background-color: @bga;
}

element-text {
    margin:                         0px 1.5px 0px 1.5px;
}
